@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
    background-image: url(../assets/img/showcase.jpeg);
}

/*Main Styling*/
html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
    text-align: center;
}

p {
    margin: 10px 0;
    text-align: center;

}

/*Utility Classes*/
.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.text-primary {
    color: blue;
}

.lead {
    font-size: 20px;
}


/*Navbar*/
#navbar {
    background: #333 url('../assests/img/showcase.jpeg') no-repeat center center/cover;
    color: #fff;
    overflow: auto;
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}


#navbar ul li a:hover {
    background: #444;
    color: #f7c08a;
}

/*Navr*/
#showcase{
   /* background: url('../assests/img/showcase.jpeg') no-repeat center center/cover; */
    height: 600px;
}

#showcase .showcase-content {
    background: url('../assests/img/showcase.jpeg') center center/cover;
    width: 100; 
}

#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}

/*Home Info*/
#home-info {
    height: 400px;
}

#home-info .info-images {
    float: left;
    width: 50%;
    background: url('../images/photo-1.jpeg') no-repeat;
    min-height: 100%;
}

#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}

#home-info .info-content p {
    padding-bottom: 30px;
}



/*Gallery*/
* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


/*Gallery End*/


/*Contact Form Section*/
#contact-form .form-group {
    margin-bottom: 20px;
    background-color: blue;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form  textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

#contact-form  textarea {
    height: 200px;
}

#contact-form input:focus,
#contact-form  textarea:focus {
    outline: none;
    border-color: #f7c08a;
}

/*Main Footer*/
#main-footer {
    text-align: center;
    background: #444;
    color: #fff;
    padding: 20px;
}

