/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
}

/* Main Styling */
html,body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.card {
  background: #e7e7e7;
  padding: 1rem;
}
.text-center {
  text-align:center;
}

.text-primary {
  color: #50A8DD;
}

/*Navbar*/
#navbar {
    /*background: #333 url('../assests/img/showcase.jpeg') no-repeat center center/cover;*/
    color: #fff;
    overflow: auto;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  background: #50A8DD;
  color: #fff;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.p-1 { padding: 1.5rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }

.mg-top-1 {
	margin-top: 1.5rem;
}
.mg-top-2 {
	margin-top: 2rem;
}
.mg-top-3 {
	margin-top: 3rem;
}
.mg-top-4 {
	margin-top: 4rem;
}

/*Navr*/
#showcase{
  /* background: url('../assests/img/showcase.jpeg') no-repeat center center/cover;*/
    height: 600px;
}

#showcase .showcase-content {
   /* background: url('../assests/img/showcase.jpeg') no-repeat center center/cover;*/
    width: 100; 
}

/* Utility Classes */
.container {
	max-width: 1100px;
	margin: auto;
	padding: 0 2rem;
	overflow: hidden;
}

.category {
	display: inline-block;
	color: #fff;
	font-size: 0.55rem;
	text-transform: uppercase;
	padding: 0.4rem 0.6rem;
	border-radius: 15px;
	margin-bottom: 0.5rem;
}

.card {
	background: #e7e7e7;
	padding: 1rem;
}
.text-center {
	text-align: center;
}

.text-primary {
	color: #50a8dd;
}

.bg-light {
	background: #c1c1c1;
	color: #333;
}

.bg-dark {
	background: #333;
	color: #fff;
}

.bg-primary {
	background: #50a8dd;
	color: #fff;
}

.l-heading {
	font-size: 4rem;
	margin-bottom: 0.75rem;
	line-height: 1.1;
}

.m-heading {
	font-size: 2rem;
	margin-bottom: 0.75rem;
	line-height: 1.1;
}

.lead {
	font-size: 1.3rem;
	margin-bottom: 2rem;
}

.py-1 {
	padding: 1.5rem 0;
}
.py-2 {
	padding: 2rem 0;
}
.py-3 {
	padding: 3rem 0;
}

.p-1 {
	padding: 1.5rem;
}
.p-2 {
	padding: 2rem;
}
.p-3 {
	padding: 3rem;
}


.pl-1 {
	padding-left: 1.5rem;
}
.pl-2 {
	padding-left: 2rem;
}
.pl-3 {
	padding-left: 3rem;
}
.pl-4 {
	padding-left: 4rem;
}
.pl-5 {
	padding-left: 5rem;
}
.pl-6 {
	padding-left: 6rem;
}
.pl-7 {
	padding-left: 7rem;
}
.pl-8 {
	padding-left: 8rem;
}
.pl-9 {
	padding-left: 9rem;
}
.pl-10 {
	padding-left: 10rem;
}
.pl-11 {
	padding-left: 11rem;
}
.pl-12 {
	padding-left: 12rem;
}
.pl-13 {
	padding-left: 13rem;
}
.pl-14 {
	padding-left: 14rem;
}
.pl-15 {
	padding-left: 15rem;
}



.btn {
	display: inline-block;
	color: #fff;
	background: #50a8dd;
	padding: 0.5rem 2rem;
	border: none;
	border-radius: 5px;
}

.btn:hover {
	background: #c1c1c1;
}

.btn-dark {
	background: #333;
	color: #fff;
}

.list {
	margin: 0.5rem 0;
	list-style: none;
}

.list li {
	padding: 0.5rem 0;
	border-bottom: #444 dotted 1px;
}

/* Navbar */
#navbar {
	background: #333;
	color: #fff;
	overflow: auto;
}

#navbar a {
	color: #fff;
}

#navbar h1 {
	float: left;
	padding-top: 20px;
}

#navbar ul {
	list-style: none;
	float: right;
}

#navbar ul li {
	float: left;
}

#navbar ul li a {
	display: block;
	padding: 20px;
	text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
	background: #444;
	color: #f7c08a;
}

.logo-no-words {
	height: 40px;
}

/* ++ Backdrop incase you need a cover over a background pic */
.backdrop {
	background-color: rgba(0, 0, 0, .8);
}


/* Showcase */
#showcase {
  background: url('../img/img-2.jpg') no-repeat center center/cover;
  height: 600px;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 50px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}


/* Section: What We Do */
#what .items {
  display: flex;
  padding: 1rem;
}

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#what .items .item i {
  background: #50A8DD;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Home Articles */
#home-articles .articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  grid-column: 1 / span 2;
}

#home-articles .articles-container > *:last-child {
  grid-column: 2 / span 2;
}

#article .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e7e7e7;
  padding: 0.5rem;
}

#article .meta .category {
  margin-top: 0.4rem;
}

/* Footer */
#main-footer {
  background: #50A8DD;
  color: #fff;
}

#main-footer img {
  width: 150px;
}

#main-footer a {
  color: #fff;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

#main-footer .footer-container > *:last-child {
  background: #444;
  grid-column: 1 / span 4;
  padding: .5rem;
  text-align: center;
  font-size: 0.75rem;
}

#main-footer .footer-container input[type='email'] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type='submit'] {
  width: 90%;
}